body{
    margin: 0;
}
div {
    box-sizing: border-box;
}
.line_box {
    box-sizing: border-box;
    border : solid gray 0.5px
}

.headbox{
    box-sizing: border-box;
    height: 10vh;
}
.logobox{
    box-sizing: border-box;
    height: 20vh;
    text-align: center;
}

.logobox > h1 {
    box-sizing: border-box;
    font-size: 4em;
    margin-bottom: -0.4em;
}

.loginbox{
    box-sizing: border-box;
    height: 70vh;
    padding-top: 10vh;
    text-align: center;
}


.id_input > input, .pw_input > input {
    border-width: 0px 0px 1px 0px;
    height: 2em;
    width: 60vw;
    font-size: 1.4em;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 3vh;

}

